@font-face {
    font-family: 'Grilled Cheese';
    src: url('/assets/fonts/grilledcheese.woff2') format('woff2'),
         url('/assets/fonts/grilledcheese.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}
